<h1>Your coach answers</h1>
<div class="card">
  <p><%= @question %></p>
  <p>-You</p>
</div>
<div  class="yellow-card card">
  <p><%= @answer %></p>
  <p>-Coach</p>
</div>
<br>
<%= link_to 'Ask a new question', '/ask' %>

